 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/hgghh-min.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 804px;
}

.u-section-1 .u-group-1 {
  width: 658px;
  min-height: 456px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 45px 27px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  margin-top: 57px;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 15px 45px 16px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-group-1 {
    width: 447px;
    min-height: 536px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 21.04% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    min-height: 555px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-group-1 {
    width: 309px;
    min-height: 511px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-group-1 {
    width: 331px;
    min-height: 405px;
    margin-right: -19px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 85px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 56px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 389px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 36px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 36px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-6 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 36px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-8 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px -1px 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 36px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 288px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 652px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1498px;
}

.u-section-3 .u-image-1 {
  width: 701px;
  height: 440px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 412px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 377px;
  height: 451px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -573px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 629px;
  min-height: 394px;
  background-image: none;
  box-shadow: 5px 5px 24px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -619px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 15px 50px 15px 48px;
}

.u-section-3 .u-image-3 {
  width: 556px;
  height: 417px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 462px 0 0 auto;
}

.u-section-3 .u-image-4 {
  width: 444px;
  height: 444px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -587px auto 60px 235px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1467px;
  }

  .u-section-3 .u-image-1 {
    width: 501px;
    height: 420px;
    object-position: 0% 50%;
  }

  .u-section-3 .u-image-2 {
    width: 372px;
    height: 423px;
  }

  .u-section-3 .u-group-1 {
    width: 515px;
    height: auto;
  }

  .u-section-3 .u-image-3 {
    width: 331px;
  }

  .u-section-3 .u-image-4 {
    width: 356px;
    height: 383px;
    margin-left: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1558px;
  }

  .u-section-3 .u-image-1 {
    width: 395px;
    height: 388px;
  }

  .u-section-3 .u-image-2 {
    width: 253px;
    height: 345px;
  }

  .u-section-3 .u-group-1 {
    width: 452px;
    margin-right: 107px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 279px;
    height: 386px;
  }

  .u-section-3 .u-image-4 {
    width: 262px;
    height: 332px;
    margin-left: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1735px;
  }

  .u-section-3 .u-image-1 {
    width: 319px;
    height: 336px;
    object-position: 100% 50%;
  }

  .u-section-3 .u-image-2 {
    width: 270px;
    height: 344px;
    margin-top: -472px;
  }

  .u-section-3 .u-group-1 {
    width: 432px;
    margin-right: 36px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 289px;
    height: 350px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -575px;
    margin-left: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1872px;
  }

  .u-section-3 .u-image-1 {
    width: 258px;
    height: 272px;
  }

  .u-section-3 .u-image-2 {
    width: 254px;
    height: 348px;
    margin-top: -346px;
  }

  .u-section-3 .u-group-1 {
    width: 305px;
    margin-top: -575px;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    width: 211px;
    height: 267px;
    margin-top: -425px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1200px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 74px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.27778rem;
  width: 778px;
  margin: 16px auto 0;
}

.u-section-4 .u-shape-1 {
  height: 328px;
  margin-top: 273px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -546px auto 34px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 660px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 154px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 628px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 147px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 280px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 498px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  line-height: 1.8;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1181px;
  }

  .u-section-4 .u-text-2 {
    width: 689px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 127px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 518px;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 121px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 411px;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1878px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-4 .u-shape-1 {
    height: 437px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 146px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 139px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 531px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 440px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2385px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-text-2 {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-shape-1 {
    height: 768px;
    margin-top: 196px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -910px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 219px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 347px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 209px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 398px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 347px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2185px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 37px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 175px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 231px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 138px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 231px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 132px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 251px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 231px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1049px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 34px auto 0;
}

.u-section-5 .u-shape-1 {
  height: 328px;
  margin-top: 250px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1111px;
  margin: -546px auto 34px calc(((100% - 1140px) / 2));
}

.u-section-5 .u-layout-cell-1 {
  min-height: 923px;
}

.u-section-5 .u-container-layout-1 {
  padding: 23px;
}

.u-section-5 .u-image-1 {
  height: 490px;
  width: 490px;
  object-position: 50% 75.85%;
  margin: 0 0 0 7px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  margin: 32px 202px 0 auto;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 12px auto 0;
}

.u-section-5 .u-text-5 {
  line-height: 1.8;
  margin: 59px 14px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 923px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-5 .u-image-2 {
  height: 492px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 12px auto 0;
}

.u-section-5 .u-text-9 {
  line-height: 1.8;
  margin: 84px 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1181px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 781px;
  }

  .u-section-5 .u-image-1 {
    height: 411px;
    width: 411px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 167px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 781px;
  }

  .u-section-5 .u-image-2 {
    inset: auto;
    height: 407px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 62px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1878px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-shape-1 {
    height: 437px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 301px;
    width: 301px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 122px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    height: 298px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 127px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 2385px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-shape-1 {
    height: 768px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 517px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 19px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 12px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2185px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
    margin-top: 423px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 212px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -910px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 75px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 318px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 76px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
  }
}